/*
 Theme Name:   Nanda Holdings
 Theme URI:    http://codein.ca/dev/nanda
 Description:  2017 child theme for Nanda Group
 Author:       Cankopy
 Author URI:   http://brasileiro.ca
 Version:      1.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         featured-image-header, featured-images
*/

/*

COMPONENTS
 - HEADER
 - FOOTER
PAGES
 - FRONTPAGE
    - CAROUSEL
    - EXPLORE
    - FRANCHISES
    - RECOGNITION
 - LOCATIONS
    - MAP
    - BRANDS SECTIONS
 - PARTNERSHIPS
 - CAREERS [RECENTS]
    - CAROUSEL
    - EXPLORE
    - RECENTS SECTION (3 ONLY), MIXED
    - [PAGE SIMILAR TO RECENTS] ALL POSTS (SEPARATED BY SECTIONS)
 - CONTACT
 - TRAINING
colors:
    document background: #221f20
    brand purple - #803772
*/
#error {
    padding: 30vh 0;
}
#output_posts {
    background-color: rgba(255, 244, 130, 0.77);
    width: 100%;
    min-height: 50vh;
}
/********************************************************/
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
body {
    background-color: #000;
    color: white;
}
.myFont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.myNarrowFont {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.myBold {
    color: white;
}
.centerFlex {
    display: flex;
    align-items: center;/*vertical*/
    /*justify-content: flex-start; horizontal*/
}
.restaurant_img {
    max-width: 100%;
}
.firstLevelDiv p {
    font-size: 18px;
}
/**************************/
header {
    border-bottom: solid 8px #803772;
    /*line-height: 100px;*/
}

header > nav {
    padding:0!important;
    /*background-color: #3c763d;*/
}
#navbarsExampleDefault {
    display: flex;
    justify-content: flex-end;
    align-self: stretch;
}
#mymenuid {
    margin: 0!important;
    /*background-color: yellow;*/
}
/*.current is the LI element*/
li.menu-item a {
    padding: 15px;
    display: flex;
    align-items: center;
    height: 100%;
    /*border-bottom: 15px solid black;*/
}
li.current-menu-item a {
    padding: 15px 15px 0;
    border-bottom: 15px solid #803772;
    /*padding: 0 15px;*/
}
li.menu-item  {
    /*OMG FINALLY!*/
    transition-property: all;
    transition-duration: 150ms;
    transition-delay: 0ms;
    transition-timing-function: linear;
}
li.menu-item:hover {
    background-color: #803772;
}
li.menu-item a {
    color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

/**************************/
#myCarousel {
    /*no border*/
}
#myCarousel div.carousel-item {
    height: 50vh;
    background-position: bottom;
    background-size: cover;
}
#myCarousel div.carousel-item:nth-child(1) {
    background-image: url("images/covers/covers (2).jpg");
}
#myCarousel div.carousel-item:nth-child(2) {
    background-image: url("images/covers/515884946.jpg");
}
#myCarousel div.carousel-item:nth-child(3) {
    background-image: url("images/covers/517010386.jpg");
}
#CareersPage div.carousel-item:nth-child(1) {
    background-image: url("images/covers/515884946.jpg");
}
#CareersPage div.carousel-item:nth-child(2) {
    background-image: url("images/covers/517010386.jpg");
}
#CareersPage div.carousel-item:nth-child(3) {
    background-image: url("images/covers/541833370.jpg");
}
#myCarousel > .container-fluid {
    padding: 0;
}
/**************************/
#ourBrands {
    padding-top: 30px;
    border-bottom: 7px solid white;
    transition-property: all;
    transition-duration: 300ms;
    transition-delay: 0ms;
    transition-timing-function: linear;
}
#ourBrands:hover {
    /*background-color: gray;*/
    /*border-bottom: 7px solid #c14caf;*/

}
#ourBrands > div.container > div:first-child {
    text-transform: uppercase;
    font-size: 32px;
    border-bottom: 2px solid white;
    /*margin-top: 20px;*/
    /*margin-bottom: 40px;*/
}
#ourBrands span:nth-child(1) {
    border-bottom: 10px solid white;
    /*color: #803772;*/
}
#ourBrands div > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#ourBrands img {
    margin: 50px 0;
    transition-property: all;
    transition-duration: 300ms;
    transition-delay: 150ms;
    transition-timing-function: linear;
}
#ourBrands img:hover {
    /*opacity: 1;*/
    transform: scale(1.05, 1.05);
}
/**************************/
#franchises, #recognition {
    border-bottom: 7px solid white;
    transition-property: all;
    transition-duration: 750ms;
    transition-delay: 50ms;
    transition-timing-function: ease-out;
}
#franchises:hover {
    background-color: #803772;
}
#recognition:hover {
    background-color: #062f4f;
}
article.restaurant_article > a > h1 {
    text-align: center;
}
article.restaurant_article > a > p {
    padding: 0 30px!important;
    /*text-align: justify;*/
}
.restaurant_h1, .recognition_h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
#franchises > div > div:first-child,
#recognition > div > div:first-child {
    text-transform: uppercase;
    font-size: 32px;
    /*border-bottom: 5px solid #803772;*/
    padding-top: 30px;
    margin-bottom: 30px;
}
#franchises div.section_title > h2:nth-child(2),
#recognition div.section_title > h2 {
    border-bottom: 10px solid white;
    text-align: right;
    font-size: 200%;
}
article > a {
    color: inherit;
    text-decoration: none;

    transition-property: all;
    transition-duration: 200ms;
    transition-delay: 20ms;
    transition-timing-function: ease-in;
}
article > a:hover {
    color: #eee;
    text-decoration: none!important;
}
.recognition_h2 {
    align-self: flex-start;
    color: darkgray;
    text-transform: uppercase;
    font-size: 120%;
}
/**************************/
#myFooter {
    padding: 25px 0;
}
#myFooter ul {
    margin: 0;
    padding: 0;
    line-height: 0.8rem;
    width: 100%;
}
#myFooter li {
    padding: 0;
    line-height: inherit;
}
#myFooter a, #myFooter h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    line-height: inherit;

    transition-property: all;
    transition-duration: 200ms;
    transition-delay: 20ms;
    transition-timing-function: ease-in;
}
#myFooter a:hover {
    color: #803772;
    text-decoration: none;
}
#f1, #f3, #f2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#f1 li {
    text-align: right;
}
/************* individualPost *************/
#individualPost {
    border-bottom: 10px solid white;
    padding-bottom: 30px;
}
article.single_post {
    /*border: 10px solid yellow!important;*/
    /*background-color: green!important;*/
    min-height: 50vh;
    padding: 50px;
}
div.post_body {
    /*min-height: 80vh;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*color: white;*/
}
#postTitle {
    /*background-color: yellow;*/
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    padding-bottom: 5px;
    border-bottom: 3px solid #af2601;
    width: 100%;
}
#postTitle .post_title {
    font-size: 26px;
    color: white;
    text-transform: uppercase;
}
#postTitle .post_date {
    font-size: 14px;
    color: white;
}
img.wp-post-image,
div.post-tb > img {
    max-width: 100%;
    max-height: 100%;
}
span.post_date{
    color: #4b5257;
    font-size: 100%;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    /*margin-right: 50px;*/
}
span.post_title{
    /*color: crimson;*/
    /*font-size: 150%;*/
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-weight: 700;*/
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
div.post_content{
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 25px;
    /*background-color: yellow;*/
    width: 100%;
    /*max-width: 45rem;*/
    /*text-transform: capitalize;*/
    color: white;
}
.single_post img{
    max-width: 100%!important;
}
div.post-tb{
    /*display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;*/
    /*border-radius: 10px;*/
    /*box-shadow: 0 0 10px 2px rgba(110, 110, 110, 0.5);
    background-color: rgba(110, 110, 110, 0.5);
    min-height: 150px;*/
    /*max-height: 20vh;*/
    /*overflow: hidden;*/
    /*min-width: 150px;*/
    /*max-height: 150px!important;
    margin-bottom: 50px;*/
}
/***********SINGLE PAGE ***************/
.single_page{}
.page-tb{}
.page_body{
    background-color: #555;
    color: whitesmoke;
    padding: 25px;
}
.page_title{}
.page_content{}
/************************************************************************/
#CareersPage #myCarousel div.carousel-item {
    height: 50vh;
    background-position: top center;
    background-size: cover;
}
#CareersPage #franchises {
    padding-bottom: 50px;
}
#CareersPage #franchises:hover {
    background-color: #221f20;
}
#CareersPage #careersRecent {
    padding: 20px 0;
    border-bottom: 10px solid white;
    transition-property: all;
    transition-duration: 750ms;
    transition-delay: 50ms;
    transition-timing-function: ease-out;
}
#CareersPage #careersRecent:hover {
    background-color: #803772;
}
#careersRecent > div > div > span {
    /*margin: 20px 0;*/
    font-size: 30px;
}
#careersRecent > div > div.row {
    margin-top: 10px;
    padding: 10px 0;
    /*border-top: 1px solid gray;*/
}
#careersRecent > div > div.row > article > a > h1 {
    font-size: 20px;
}
#careersRecent > div > div.row > article {
    margin-bottom: 20px;
}
/************************************************************************/
#allCareersPage,
#aboutPage {
    border-bottom: 10px solid white;
}
#allCareersPage #careersNonCarouselCover,
#individualPost #careersNonCarouselCover,
#aboutPage #careersNonCarouselCover {
    height: 20vh!important;
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#careersNonCarouselCover > span {
    /*smaller on mobile*/
    font-size: 48px;
    font-weight: bold;
}
#allCareersPage > div.careers,
#aboutPage > div.careers {
    padding-top: 30px;
    padding-bottom: 20px;

    transition-property: all;
    transition-duration: 900ms;
    transition-delay: 100ms;
    transition-timing-function: ease-out;
}
#allCareersPage > div.careers:nth-child(even):hover {
    background-color: #803772;
    /*background-color: #062f4f;*/
}
#allCareersPage > div.careers:nth-child(odd):hover {
    /*background-color: #803772;*/
    background-color: #062f4f;
}

#allCareersPage > div.careers > div > div.row {
    padding-top: 20px;
}
#allCareersPage > div.careers > div > div:first-child {
    border-bottom: 3px solid #af2601;
    margin-bottom: 10px;
}
div.careers article {
    /*background-color: #4a4a4a;*/
    margin-bottom: 20px;
}
div.careers article h2 {
    /*Date*/
    font-size: 12px;
    color: white;
    /*font-weight: bold;*/
    margin-bottom: 2px;
}
div.careers article h1 {
    /*Post title*/
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
}
.resume {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 5px 0;
}

/******************* trainingPage **********************/
#trainingPage {
    min-height: 70vh;
}
/******************* locationsPage **********************/
#locationsPage {
    padding:0;
}
#map {
    min-height: 360px;
    height: 75vh;
    max-width: 100vw;
    /*border: 5px solid crimson!important;*/
}
#map div#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#map div#content > div#box {
    max-width: 20rem;
    border: 5px solid white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2px 10px;

    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
}
#map div#content  > div#box > * {
    margin: 0;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
#map div#content > div#box > p {
    padding-left: 25px;
    /*line-height: 120%;*/
    /*margin: auto;*/
}

#map div#content  > div#box > #popupTitle_id > a {
    color: crimson;
    text-decoration: none;
}
#map div#content  > div#box > div#emptyspace {
    height: 30px;
}
#map div#content > img {
    max-width: 10rem;
    max-height: 10rem;
    align-self: center;
    position: relative;
    top: -30px;
}

/*MAIN CONTAINER FOR EACH BRAND
- it holds an image and a row of elements*/
section.storeBrandMapListing {
    padding: 50px;
    display: flex;
    border-bottom: 10px solid white;
    transition-property: all;
    transition-duration: 750ms;
    transition-delay: 50ms;
    transition-timing-function: ease-out;
}
section.storeBrandMapListing:hover {
    background-color: #062f4f;
}

/*LEFT IMAGE FOR EACH BRAND*/
div.img_storeBrandMapListing {
    /*margin-right: 100px;*/
    /*max-width: 20vw;*/
}
div.img_storeBrandMapListing > img {
    max-width: 100%;
}
/*RIGHT ROW OF ELEMENTS FOR EACH BRAND*/
section.storeBrandMapListing > div.row {
    /*background-color: #808080;*/
    width: 100%;
}
#locationsPage div.individualStore > div#box {
    /*background-color: rgba(74, 74, 74, 0.9);*/
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    padding-bottom: 45px;
}
#locationsPage div.individualStore > div#box > * {
    color: white;
    /*margin: 0;*/
    font-family: 'Montserrat', sans-serif;
}
#locationsPage div.individualStore > div#box > h1 > span > img {
    max-width: 40px;
}
#locationsPage div.individualStore > div#box > h1 > span > a {
    display: inline;
}
#locationsPage div.individualStore > div#box > h1 {
    /*background-color: #4b5257;*/
    /*display: table-cell;*/
    /*vertical-align: bottom;*/
    margin: 0;
    font-size: 24px;
    /*border-bottom: 2px solid purple;*/
}
#locationsPage div.individualStore > div#box > p {
    padding-left: 50px;
    /*background-color: #4b5257;*/
    margin: 0;
    font-size: 14px;
}
#locationsPage a  {
    color: crimson;
    text-decoration: none;
}


#aboutPage img {
    max-width: 100%;
}

@media screen and (max-width: 1280px) {
    #locationsPage div.img_storeBrandMapListing {
        text-align: center;
    }
    #locationsPage div.img_storeBrandMapListing > img {
        max-width: 150px;
        margin: 0 auto 50px;
        text-align: center;
    }
    #locationsPage div.individualStore > div#box > h1 {
        font-size: 16px;
    }
    #locationsPage div.individualStore > div#box > p {
        padding-left: 50px;
        font-size: 12px;
    }
    #careersNonCarouselCover > span {
        font-size: 32px;
        font-weight: bold;
    }
}
/**************************/
@media screen and (max-width:1000px) {
    #navbarsExampleDefault {

    }
    section.storeBrandMapListing {
        margin: 0;
        padding-top: 20px;
        padding-right: 0;
        padding-bottom: 10px;
        padding-left: 0;
    }
    a.navbar-brand{
        max-width: 75vw;
    }

    nav.navbar > span > button.navbar-toggler {
        margin-top: 12px;
        height: 50px;
    }
    .navbar-toggler-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    #ourBrands img {
        max-width: 50vw;
    }
    #f1 li, #f3 li {
        text-align: center;
        line-height: 1.5rem;
        /*background-color: yellow;*/
    }
    #f2 {
        /*send to last position*/
        order: 3;
    }
    div.row > article {
        /*border-bottom: 1px solid rgba(128, 128, 128, 0.5);*/
    }
    div.row > article:last-child {
        border-bottom: none;
    }
    .recognition_article a {
        margin-top: 20px;
    }
}